## BLKMKT Activity during BlkArthouse Summer 2021 Exhibition

In [26]:
# Import the libraries we need for basic EDA
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import Markdown
# pseudo-markdown in code cells
def printmd(string):
    display(Markdown(string))
# ref: https://discuss.analyticsvidhya.com/t/how-to-make-a-text-bold-within-print-statement-in-ipython-notebook/14552/2

In [8]:
# Bring in the sessions dataframe, preview it
sessions = pd.read_excel('../data/sessions-by-landing-page_2021-06-25_2021-07-25.xlsx')
sessions.head(3)

,day,hour_of_day,page_type,page_path,page_resource_id,page_url,location_city,location_region,location_country,marketing_event_type,...,day_of_week,total_visitors,total_sessions,avg_duration,total_bounce_rate,total_carts,total_checkouts,total_conversion,total_orders_placed,total_pageviews
0,2021-06-25,20,Product,/products/afrofuturism-meets-ai-ii,7.050873e+12,https://blkartmkt.com/products/afrofuturism-me...,Kensington,Maryland,United States,NaN,...,Friday,5,5,4m3.6s,0.20,1,1,0.2,1,22
1,2021-06-25,20,Product,/products/afobaje,7.050851e+12,https://blkartmkt.com/products/afobaje,Alexandria,Virginia,United States,NaN,...,Friday,4,4,5m36.25s,0.50,0,0,0.0,0,11
2,2021-06-25,20,Product,/products/reality,7.035170e+12,https://blkartmkt.com/products/reality,Alexandria,Virginia,United States,NaN,...,Friday,4,4,1m8.5s,0.75,0,0,0.0,0,6

In [16]:
# Size (rows x columns)
sessions.shape

(1311, 34)

In [9]:
# List column names
sessions.columns

Index(['day', 'hour_of_day', 'page_type', 'page_path', 'page_resource_id',
       'page_url', 'location_city', 'location_region', 'location_country',
       'marketing_event_type', 'utm_campaign_content', 'utm_campaign_medium',
       'utm_campaign_name', 'utm_campaign_source', 'utm_campaign_term',
       'referrer_url', 'referrer_source', 'referrer_path', 'referrer_name',
       'referrer_host', 'hour', 'month', 'quarter', 'week', 'day_of_week',
       'total_visitors', 'total_sessions', 'avg_duration', 'total_bounce_rate',
       'total_carts', 'total_checkouts', 'total_conversion',
       'total_orders_placed', 'total_pageviews'],
      dtype='object')

### Let's break up the data into two time periods we're interested in comparing:
#### 1. Days of opening weekend (`opening_wknd_df`)
#### 2. The rest of exhibition runtime (`rest_of_runtime_df`)

In [32]:
# 1. Days of opening weekend
opening_wknd = ['2021-06-25', '2021-06-26', '2021-06-27']

opening_wknd_df = sessions[sessions['day'].isin(opening_wknd)]
display(opening_wknd_df.head(1))
printmd('`opening_wknd_df` shape:')
opening_wknd_df.shape

,day,hour_of_day,page_type,page_path,page_resource_id,page_url,location_city,location_region,location_country,marketing_event_type,...,day_of_week,total_visitors,total_sessions,avg_duration,total_bounce_rate,total_carts,total_checkouts,total_conversion,total_orders_placed,total_pageviews
0,2021-06-25,20,Product,/products/afrofuturism-meets-ai-ii,7.050873e+12,https://blkartmkt.com/products/afrofuturism-me...,Kensington,Maryland,United States,NaN,...,Friday,5,5,4m3.6s,0.2,1,1,0.2,1,22

`opening_wknd_df` shape:

(595, 34)

In [43]:
# 2. The rest of exhibition runtime
rest_of_runtime_df = sessions[~sessions['day'].isin(opening_wknd)]
display(rest_of_runtime_df.head(1))

printmd('`rest_of_runtime_df` shape:')
print(rest_of_runtime_df.shape)

print('\nOverall shape of data subsets adds up to shape of original dataframe')
595+716 == sessions.shape[0]

,day,hour_of_day,page_type,page_path,page_resource_id,page_url,location_city,location_region,location_country,marketing_event_type,...,day_of_week,total_visitors,total_sessions,avg_duration,total_bounce_rate,total_carts,total_checkouts,total_conversion,total_orders_placed,total_pageviews
595,2021-06-28,14,Homepage,NaN,NaN,https://blkartmkt.com/,Kansas City,Missouri,United States,NaN,...,Monday,1,1,39s,0.0,0,0,0.0,0,2

`rest_of_runtime_df` shape:

(716, 34)

Overall shape of data subsets adds up to shape of original dataframe

True

True